/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  background-color: #f4f4f4;
  line-height: 1.5;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.btn {
  padding: 6px;
  color: white;
  background-color: orangered;
  border: none;
}

.dark {
  padding: 10px;
  background-color: #2b2e4a;
  margin-top: 20px;
  color: white;
}

/* HEADER */

header {
  position: relative;
  background-color: #2b2e4a;
  min-height: 50px;
  padding-top: 30px;
  border-bottom: 3px solid orangered;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

header ul {
  list-style: none;
}

header li {
  display: inline;
  margin-right: 20px;
}

header h1 {
  float: left;
  padding-bottom: 15px;
}

header nav {
  float: right;
  padding-top: 5px;
}

.menu {
  float: right;
  position: absolute;
  right: 65px;
  bottom: 25px;
  cursor: pointer;
}

.menu-line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;

}

span.color-header,
li.current a, #side-menu a:hover {
  color: orangered;
}

header a:hover {
  color: lightgrey;
  font-size: 0.8rem;
}

main {
  position: relative;
}

#side-menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.9);

}

#side-menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s;
}

#side-menu ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  right: 0;
  padding-right: 4rem;
}

#side-menu li {
 margin-bottom: 2rem;
 font-size: large;
}

.times {
  font-size: 30px;
  color: #fff;
  margin-bottom: 3rem;
  align-self: flex-end;
  transition: color 0.5s;
}

.times:hover {
  color: #888;
  cursor: pointer;
}

/* SHOWCASE */

section#showcase {
  background-image: url(./images/acme.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  /* background-position: 0 -100px; */
  color: white;
  text-align: center;
}

section#showcase h1 {
  margin-top: 100px;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
}

section#showcase p {
  padding: 15px;
  font-size: 16px;
  color: white;
}

/* NEWSLETTER */

section.newsletter {
  background-color: #2b2e4a;
  padding: 20px;
  color: white;
}

section.newsletter h2 {
  float: left;
  padding: 5px;
}

section.newsletter form {
  float: right;
  padding: 5px;
}

section.newsletter form input {
  padding: 6px;
}

section.newsletter form button {
  padding: 8px;
}

/* WORK */
section.works {
  margin-top: 20px;
}

section .work {
  float: left;
  width: 33%;
  padding: 15px;
  align-items: center;
  text-align: center;
}

section.works img {
  width: 150px;
}

/* ABOUT PAGE */
section#about p {
  margin: 20px 0;
  text-align: left;
  /* float: left; */
}

section#about h1 {
  margin: 20px 0;
  text-align: left;
  font-size: 20px;
}

aside#aside {
  float: right;
  width: 40%;
}

section#about .main-col {
  float: left;
  width: 55%;
}

/* SERVICES */
article#products {
  float: left;
  width: 55%;
}

#services li {
  background-color: lightsteelblue;
  border: 1px solid white;
  padding: 10px;
}

#services h1 {
  margin: 10px;
  font-size: 20px;
}

aside#aside .quote input,
aside#aside .quote textarea,
aside#aside .quote button {
  padding: 10px;
  width: 100%;
}

aside#aside .dark {
  margin-top: 50px;
}

/* FOOTER */
footer {
  background-color: orangered;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

/* MEDIA QUERRIES */

@media (min-width: 781px) {
  .menu {
    display: none;
  }
}

@media (max-width: 780px) {
  header ul,
  header nav,
  section.newsletter h2,
  section.newsletter form,
  section.works .work,
  section#about .main-col,
  aside#aside,
  article#products {
    float: none;
    text-align: center;
    width: 100%;
  }

  header nav {
    display: none;
  }

  header h1 {
    font-size: 30px;
  }

  section#showcase h1 {
    margin-top: 40px;
  }
  section#showcase p {
    padding-bottom: 20px;
  }

  section.newsletter form input {
    width: 100%;
    display: block;
    margin-bottom: 3px;
  }

  section.newsletter form button {
    width: 100%;
    display: block;
  }

  aside#aside .dark {
    margin-top: 10px;
  }

  aside#aside form label {
    display: block;
  }

  .btn {
    width: 90%;
  }
}
